/*FORMATO GENERAL DE LA PAGINA INVENTARIOS PARA AJUSTAR BORDES Y DECORACION DE TEXTOS QUE NO TENGA*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/*APARTADO DE BANNER MENU DE OPCIONES*/
nav{
    background: #225c1a;
    height: 80px;
    width: 100%;
}

.enlace{
    position: absolute;
    padding: 20px 50px;
}

.logo{
    height: 40px;
}

nav ul{
    float: right;
    margin-top: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}

nav ul li a{
    color: #ffff;
    font-size: 18px;
    padding: 7px 40px;
    border-radius: 3px;
    text-transform: uppercase;
    position: center;
}

li a.active, li a:hover{
    background: #2b7d20;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #225c1a;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.actve{
        background: none;
        color: rgb(255, 255, 255);
    }
    #check:checked ~ ul{
        left:0;
    }
}

/*FORMATO DEL CUERPO DE LA PAGINA PARA DEFINIR EL FONDO DE COLOR DEGRADADO Y LA FUENTE*/
body {
    background: linear-gradient(
        90deg,
        rgb(43, 125, 32) 25%,
        rgb(19, 168, 32) 73%);
    font-family: 'Roboto', sans-serif;
}
